<nav class="navbar">
    <a class="logo" href="/"><img src="img/logo.png" class="logo" alt=""></a>
    <ul class="links-container">
        <li class="link-item">
            <input class="s-bar" type="text" placeholder="Search..">
            
        </li>
        <li class="link-item"><a href="/dashboard" class="link">dashboard</a></li>
        <li class="link-item"><a href="/stories" class="link">stories</a></li>
        <li class="link-item"><script></script><a href="/login" class="link loginlink">login</a></li>
        <li class="link-item"><a href="/auth/logout" class="link">Logout</a></li>
    </ul>
</nav>
